@import "../../utils/variables.scss";
@import "../../utils/mixins.scss";


.cart-item {
  font-size: 16px;

  &__sides {
    display: flex;
    justify-content: space-between;
  }

  &--is-large
    &__sides {
      padding-bottom: 24px;
      border-bottom: 1px solid #e5e5e5;

      @media (max-width: 600px) {
        flex-direction: column;
      }
  }

  &__side:last-child {
    display: flex;
    align-items: stretch;
  }

  &--is-large
    &__side:last-child {
      @media (max-width: 600px) {
        justify-content: space-between;
      }
  }

  &__buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-right: 8px;
  }

  &--is-large
    &__buttons {
      @media (max-width: 600px) {
        justify-content: space-between;
      }
    }

  &__button {
    cursor: pointer;
    width: 24px;
    height: 24px;
    border: 1px solid $primary-color;
    background-color: #fff;
    @include transition(background-color);
    position: relative;

    &::after {
      content: "";
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 8px;
      height: 8px;
      @include bg-image-option;
    }

    &--plus {
      &::after {
        background-image: url(../../images/icons/plus.svg);
      }
    }

    &--minus {
      &::after {
        background-image: url(../../images/icons/minus.svg);
      }
    }

    &:hover {
      background-color: #eee;
    }
  }

  &--is-large
    &__button {
      width: 45px;
      height: 45px;

      &::after {
        width: 16px;
        height: 16px;
      }

      @media (max-width: 600px) {
        margin: 0;
      }
    }

  &__quantity {
    font-size: 16px;
    font-weight: 500;
  }

  &--is-large
    &__quantity {
      font-size: 24px;
  }

  &__image-box {
    height: 100%;
    position: relative;
  }

  &--is-large
    &__image-box {
      @media (max-width: 600px) {
        padding: 10px;
        border: 1px solid #eee;
      }
  }

  &__image {
    width: 121px;
    height: 100%;
    object-fit: cover;
    object-position: top right;
    display: inline-block;
  }

  &--is-large
    &__image {
      width: 200px;
  }

  &__pagination {
    position: absolute;
    right: 16px;
    bottom: 8px;
    margin: 0 -8px 0 0;
  }

  &__pagination-button {
    cursor: pointer;
    width: 24px;
    height: 24px;
    border: none;
    background-color: #000000ba;
    margin: 0 8px 0 0;
    position: relative;
    @include transition(background-color);

    &::after {
      content: "";
      width: 5.6px;
      height: 11px;
      position: absolute;
      @include bg-image-option;
      background-image: url(../../images/icons/arrow-white.svg);
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    &:disabled {
      pointer-events: none;
    }

    &--right {
      &::after {
        transform: translate(-50%, -50%) rotate(180deg);
      }
    }

    &:hover {
      background-color: #000000d6;
    }
  }
}

